

<h1 class="my-3">Upload File(s)</h1>

<form id="fileupload" method="POST" enctype="multipart/form-data" data-url="@Url.Action("SingleUploadAsync","UploadFiles")">
    <div class="row fileupload-buttonbar">
        <div class="col-lg-12">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-success fileinput-button">
                <i class="fa fa-plus"></i>
                <span>Select files...</span>
                <input type="file" name="files" accept="*.mp3,*.mp4,*.3gp,*.mov,*.avi,*.wav,*.ogg" id="files" multiple>
            </span>
            <button type="submit" id="startUpload" class="btn btn-primary start">
                <i class="fa fa-play"></i>
                <span>Start uploading</span>
            </button>
            <button type="reset" class="btn btn-warning cancel">
                <i class="fa fa-ban"></i>
                <span>Clear results</span>
            </button>
            <span class="fileupload-process"></span>
        </div>
        <!-- The global progress state -->
        <div class="col-lg-12 fileupload-progress my-4" id="fileUploadProgress">
            <!-- The global progress bar -->
            <div class="progress progress-striped active" role="progressbar" id="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended  font-weight-bold progress-extended text-success">&nbsp;</div>
        </div>
    </div>
    <div class="alert alert-dismissable alert-success font-italic font-weight-bold mt-3 d-none" id="successAlert">
        <span>File(s) upload completed.</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-hover"><tbody class="files"></tbody></table>
</form>

<br>
<!-- The blueimp Gallery widget -->
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
</div>
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
            <button class="btn btn-primary start btn-block" id="btnStrt" disabled>
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <button class="btn btn-warning cancel btn-block">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                <span>{%=file.name%}</span>
                {% } %}
            </p>

        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.message == "uploaded") { %}
               <span class='text-success font-weight-bold font-italic'> File uploaded successfully. </span>
            {% } else { %}
               <span class='text-danger font-weight-bold font-italic'> {%=file.message %} </span>
            {% } %}
        </td>
    </tr>
    {% } %}

</script>

@*   {% if (file.error) { %}
    <div><span class="label label-danger">Error</span> {%=file.error%}</div>
    {% } %}
*@